.about-us {
  padding: 17px 30px 2px 30px;
}

.about-us__title {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-top: 9px;
}

.about-us__list {
  @include reset-list;
  margin-top: 30px;
}

.about-us__svg-wrapper {
  width: 46px;
  height: 34px;
  text-align: center;
}

.about-us__item {
  position: relative;
  margin-top: 25px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding-right: 11px;
  margin-bottom: 33px;
}

.about-us__item path {
  fill: $seafoam-blue;
}

@media (min-width: 768px) {
  .about-us {
    background: none;
    padding: 23px 30px 0 0;
  }

  .about-us__item--flower {
    order: 0;
  }

  .about-us__item--money {
    order: 2;
  }

  .about-us__item--heart {
    order: 4;
  }

  .about-us__item--clew {
    order: 1;
  }

  .about-us__item--rocket {
    order: 3;
  }

  .about-us__item--present {
    order: 5;
  }

  .about-us__title {
    margin-top: 25px;
    margin-left: 15px;
    font-size: 43px;
    margin-bottom: 37px;
  }

  .about-us__list {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    flex-wrap: wrap;
  }

  .about-us__item {
    width: 50%;
    font-size: 20px;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 27px;
  }

  .about-us__description {
    margin-top: 15px;
  }
}

@media (min-width: 1250px) {
  .about-us {
    padding-top: 24px;
    background: none;
  }

  .about-us__title {
    margin-left: 170px;
    font-size: 55px;
  }

  .about-us__list {
    margin-top: 28px;
    margin-left: 100px;
    flex-direction: row;
    height: 500px;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
  }

  .about-us__item {
    width: 290px;
    margin-left: 60px;
    margin-right: 0;
  }

  .about-us__description {
    width: 300px;
  }
}
