.contacts {
  padding-top: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contacts__title {
  margin-bottom: 0;
  margin-right: auto;
  padding: 0 29px 0 28px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.contacts__email,
.contacts__adress {
  padding: 0 29px 0 29px;
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: flex-start;
  min-width: 256px;
  flex-direction: row;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: $grey;
}

.contacts__description-title {
  padding: 0;
  flex-shrink: 0;
  margin: 0;
  margin-top: 27px;
}

.contacts__description {
  padding: 0;
  margin: 0;
  margin-left: 30px;
  margin-top: 27px;
  width: 170px;
  box-sizing: border-box;
  text-decoration: none;
  color: $grey;
}

.contacts__description--mail {
  border-bottom: 1px solid $seafoam-blue;
  width: auto;

  &:hover {
    color: $seafoam-blue;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__map {
  position: relative;
  width: 100%;
  height: 457px;
  margin-top: 37px;
  background-size: cover;
  background-color: $light-grey;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.contacts__button {
  margin-top: 39px;
}

.contacts__label {
  position: absolute;
  font-size: 0;
  top: 50%;
  left: 50%;
  border: none;
  width: 70px;
  height: 90px;
  background: transparent;
  background-image: url("../img/icon-map-pin.svg");
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .contacts {
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 56px;
  }

  .contacts__description-title {
    margin-top: 37px;
  }

  .contacts__title {
    font-size: 43px;
    width: 100%;
    margin-top: 25px;
    margin-left: 11px;
    padding-left: 0;
    background: url("../img/icon-flag.svg") center right no-repeat;
    background-position-x: right;
    padding-right: 0;
    margin-right: 19px;
  }

  .contacts__map {
    width: 100%;
    margin-top: 55px;
    background-image: url("../img/map-tablet@1x.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  .contacts__wrap-top {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 700px;
  }

  .contacts__description {
    padding: 0;
    margin: 0;
    font-size: 17px;
    margin-left: 30px;
    margin-top: 35px;
    width: 250px;
    box-sizing: border-box;

    span {
      border-bottom: 1px solid $seafoam-blue;
    }
  }

  .contacts__button {
    margin-top: 52px;
    width: 230px;
    margin-right: auto;
    margin-left: auto;
  }

  .contacts__wrap {
    padding-left: 10px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
  }

  .contacts__adress,
  .contacts__email {
    width: 49%;
    box-sizing: border-box;
    line-height: 1.9;
    padding: 0 36px 0 5px;
  }

  .contacts__description--mail {
    width: auto;
  }
}

@media (min-width: 1250px) {
  .contacts {
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 15px;
    width: 1050px;
    padding-bottom: 0;
  }

  .contacts__description {
    margin-left: 26px;
    line-height: 1.8;
  }

  .contacts__email {
    padding-left: 174px;
    width: 100%;
    line-height: 1.8;
    margin-bottom: -7px;
    font-size: 17px;
  }

  .contacts__adress {
    padding-left: 174px;
    width: 100%;
    font-size: 17px;
  }

  .contacts__title {
    letter-spacing: -0.01em;
    font-size: 53px;
    padding-left: 124px;
    background-position: 17px 9px;
    margin-left: 46px;
  }

  .contacts__wrap {
    flex-direction: column;
    padding-left: 0;
  }

  .contacts__map {
    height: 457px;
    background-image: url("../img/map-desktop@1x.jpg");
    order: 1;
    width: 50%;
  }

  .contacts__wrap-top {
    order: 0;
    flex-direction: column;
    width: 50%;
    margin-top: 83px;
    box-sizing: border-box;
    padding-left: 0;
  }

  .contacts__button {
    order: 2;
    margin-right: auto;
    margin-left: 176px;
    position: relative;
    top: -108px;
  }

  .contacts__description--mail {
    width: auto;
    margin-top: 34px;
  }

  .contacts__description-title {
    margin-top: 34px;
  }
}
