.form {
  margin: 16px;
}

.form__wrap {
  border: none;
  border-top: 1px solid $seafoam-blue;
  padding: 0;
  margin-left: 0;
}

.form__legend {
  text-transform: uppercase;
  padding: 0 27px 0 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.94;
  letter-spacing: normal;
  text-align: left;
  color: $seafoam-blue;
  background: #ffffff;
}

.form__list {
  @include reset-list;
  margin-top: 24px;
  margin-bottom: 23px;
}

.form__item {
  padding: 0 23px 10px 0;
}

.form__label {
  margin-bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.form__label-text {
  margin-left: 20px;
  margin-top: 10px;
  line-height: 20px;
  width: 150px;
  font-size: 16px;
  display: inline-block;
}

.form__radio + label {
  line-height: 30px;
  vertical-align: center;

  &::before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 2px solid $grey;
    border-radius: 50%;
  }
}

.form__radio:checked + label::before {
  background: radial-gradient($seafoam-blue, $seafoam-blue 30%, transparent 30%, transparent);
}

.form__checkbox + label {
  line-height: 30px;
  vertical-align: center;

  &::before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 2px solid $grey;
  }
}

.form__checkbox:checked + label::before {
  background: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__input {
  border: none;
  border-bottom: 2px solid #000000;
  padding: 17px 1px 17px 1px;
  width: 100%;
  background: none;

  &::-webkit-input-placeholder {
    opacity: 0.3;
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: left;
    color: rgba(68, 68, 68, 0.3);
  }
}

.form__item--checkbox {
  margin-bottom: 12px;
}

.form__list--name {
  margin-top: 30px;
}

.form__item--name {
  padding-bottom: 10px;
  margin-bottom: 7px;
  padding-right: 0;
}

.form__list--name input {
  margin-bottom: 0;
  padding-top: 0;
}

.form__list--tel {
  margin-top: 0;
}

.form__input--tel {
  margin-top: 23px;
}


.form__textarea {
  border: 2px solid #000000;
  width: 100%;
  height: 130px;
  margin-bottom: 0;
}

.form__list--textarea {
  margin-bottom: 0;
}

.form__item--textarea {
  margin-bottom: 12px;
  padding-bottom: 0;
  padding-right: 5px;
}

.form__button {
  margin-top: 30px;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .form {
    width: 100%;
  }

  .page-main__description--form {
    margin-top: 73px;
    line-height: 30px;
    padding-left: 14px;
    padding-right: 10px;
    box-sizing: border-box;
  }

  .order-form {
    width: 100%;
  }

  .form__legend {
    margin-left: 7%;
    width: 29%;
    box-sizing: border-box;
    background: none;
    position: relative;
    bottom: -45px;
  }

  .form__list {
    width: 70%;
    box-sizing: border-box;
    margin-left: 28%;
    margin-top: 15px;
    margin-bottom: 19px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
  }

  .form__item {
    width: 100%;
    margin-bottom: 11px;
    box-sizing: border-box;
  }

  .form__wrap {
    width: 100%;
    border: none;

    &:nth-child(even) {
      background: $light-grey;
    }
  }


  .form__label-text {
    margin-left: 32px;
    margin-top: 13px;
    line-height: 20px;
    font-size: 19px;
    width: 100%;
  }

  .form__input {
    width: auto;
    flex-grow: 1;
    margin-right: 35px;
  }

  .form__list--name {
    margin-top: 50px;
    margin-bottom: 3px;
  }

  .form__list--name label {
    font-size: 19px;
    margin-right: 28px;
  }

  .form__radio + label {
    line-height: 30px;
    vertical-align: center;
    width: 100%;

    &::before {
      flex-shrink: 0;
      width: 50px;
      height: 50px;
    }
  }

  .form__list--color {
    flex-direction: row;
    margin-top: 43px;
    margin-bottom: 29px;
  }

  .form__list--color li {
    width: 49%;
  }

  .form__checkbox + label {
    line-height: 30px;
    vertical-align: center;
    width: 100%;

    &::before {
      flex-shrink: 0;
      width: 50px;
      height: 50px;
    }
  }

  .form__bottom-wrap {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 4px;
    width: 668px;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  .form__list--name br {
    display: none;
  }

  .form__item--name {
    display: flex;
    margin-bottom: 32px;
  }

  .form__list--tel {
    margin-top: 38px;
  }

  .form__input--tel {
    width: 100%;
  }

  .form__list--mail {
    margin-top: 8px;
    margin-bottom: 29px;
  }

  .form__input--mail {
    padding-top: 5px;
    padding-bottom: 15px;
    width: 100%;
    padding-left: 18px;
    box-sizing: border-box;
  }

  .form__wrap--mail {
    background-color: $light-grey;
    margin-top: -8px;
  }

  .form__wrap.form__wrap--add {
    background-color: #ffffff;
  }

  .form__list--textarea {
    margin-top: 36px;
  }

  .form__item--textarea {
    padding-right: 35px;
  }

  .form__textarea {
    box-sizing: border-box;
    height: 141px;
  }

  .form__bottom-wrap span {
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.76;
    letter-spacing: normal;
    text-align: right;
  }

  .form__button {
    width: 230px;
  }
}


@media (min-width: 1250px) {
  .form__list--color li {
    width: 33%;
  }

  .form__list {
    margin-left: 19.4%;
  }
}
