.form {
  margin: 16px;
  margin-bottom: -10px;
}

.form__wrap {
  border: none;
  border-top: 1px solid $seafoam-blue;
  padding: 0;
  margin-left: 0;
}

.form__legend {
  text-transform: uppercase;
  padding: 0 27px 0 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.94;
  letter-spacing: normal;
  text-align: left;
  color: $seafoam-blue;
  background: #ffffff;
  margin-top: -1px;
}

.form__list {
  @include reset-list;
  margin-top: 24px;
  margin-bottom: 23px;
}

.form__item {
  padding: 0 0 10px 0;
  position: relative;
}

.form__item-icon {
  bottom: 21px;
  right: 2px;
  position: absolute;
  fill: $light-grey;
}

.form__label {
  margin-bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.form__label-text {
  margin-left: 24px;
  margin-top: 11px;
  line-height: 19px;
  width: 150px;
  font-size: 17px;
  display: inline-block;
  flex-grow: 1;
}

.form__radio + label {
  line-height: 30px;
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 2px solid $grey;
    border-radius: 50%;
  }
}

.form__radio {
  &:checked + label::after,
  &:hover + label::after,
  &:focus + label::after {
    left: 12px;
    content: "";
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: #63d1bb;
    background: #63d1bb;
    border-radius: 50%;
    top: 12px;
  }

  &:hover + label::before {
    border-color: #62d1ba;
  }

  &:focus + label::before,
  &:active + label::before {
    border-color: $light-grey;
  }
}

.form__checkbox + label {
  line-height: 30px;
  vertical-align: center;

  &::before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 2px solid $grey;
  }
}

.form__checkbox {
  &:checked + label::before {
    background: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover + label::before {
    border-color: #62d1ba;
  }

  &:focus + label::before,
  &:active + label::before {
    border-color: $light-grey;
  }
}

.form__input {
  border: none;
  border-bottom: 2px solid #000000;
  padding: 17px 1px 10px 1px;
  width: 100%;
  background: none;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 19px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.95;
  letter-spacing: normal;
  text-align: left;
  color: $grey;
  box-sizing: border-box;

  &::-webkit-input-placeholder {
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.06;
    letter-spacing: -0.01em;
    text-align: left;
    color: rgba(68, 68, 68, 0.3);
  }

  &:hover,
  &:active,
  &:focus {
    border-bottom: 2px solid #62d1ba;
  }
}

.form__input--tel::placeholder {
  font-size: 19px;
}

.form__item--checkbox {
  margin-bottom: 12px;
}

.form__list--name {
  margin-top: 30px;
}

.form__item--name {
  padding-bottom: 10px;
  margin-bottom: 12px;
  padding-right: 0;
}

.form__list--name input {
  margin-bottom: 0;
  padding-top: 0;
  margin-top: -7px;
}

.form__list--tel {
  margin-top: 26px;
}

.form__list--mail {
  margin-top: 4px;
}

.form__input--tel {
  margin-top: 23px;
}


.form__textarea {
  border: 2px solid #000000;
  width: 100%;
  height: 130px;
  margin-bottom: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 19px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.95;
  letter-spacing: normal;
  text-align: left;
  color: $grey;

  &:hover,
  &:active,
  &:focus {
    border: 2px solid #62d1ba;
  }
}

.form__list--textarea {
  margin-bottom: 0;
  margin-top: 29px;
}

.form__item--textarea {
  margin-bottom: 12px;
  padding-bottom: 0;
  padding-right: 5px;
}

.form__button {
  margin-top: 24px;
  margin-bottom: 25px;
}

.form__bottom-wrap span {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.76;
  letter-spacing: normal;
  text-align: right;
}

.form__input:hover + svg,
.form__input:active + svg,
.form__input:focus + svg {
  opacity: 1;
  fill: #62d1ba;
}


@media (min-width: 768px) {
  .form {
    width: 100%;
  }

  .form__item-icon {
    right: 57px;
  }

  .order-form {
    width: 100%;
  }

  .form__legend {
    margin-left: 0;
    box-sizing: border-box;
    background: none;
    width: 217.4px;
    position: absolute;
    padding-left: 52px;
  }


  .form__radio {
    &:checked + label::after,
    &:hover + label::after,
    &:focus + label::after {

      left: 16px;
      width: 22px;
      height: 21px;
      top: 16px;
    }
  }

  .form__list {
    width: 70%;
    box-sizing: border-box;
    margin-top: 28px;
    margin-bottom: 28px;
    margin-left: 28%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
  }

  .form__item {
    width: 100%;
    margin-bottom: 11px;
    box-sizing: border-box;
    padding: 0 36px 10px 0;
  }

  .form__wrap {
    position: relative;
    width: 100%;
    border: none;

    &:nth-child(even) {
      background: $white-two;
    }
  }


  .form__label-text {
    margin-left: 26px;
    line-height: 20px;
    font-size: 19px;
    width: 100%;
    margin-top: 16px;
  }

  .form__input {
    width: auto;
    flex-grow: 1;
    margin-right: 0;
    padding: 17px 1px 10px 15px;
  }

  .form__bottom-wrap span {
    font-size: 17px;
  }

  .form__list--name {
    margin-top: 64px;
    margin-bottom: 13px;
  }

  .form__list--name label {
    font-size: 19px;
    margin-right: 28px;
  }

  .form__radio + label {
    line-height: 30px;
    vertical-align: center;
    width: 100%;

    &::before {
      flex-shrink: 0;
      width: 50px;
      height: 50px;
    }
  }

  .form__list--color {
    flex-direction: row;
    margin-bottom: 29px;
    margin-top: 50px;
  }

  .form__list--color li {
    width: 49%;
  }

  .form__checkbox + label {
    line-height: 30px;
    width: 100%;

    &::before {
      flex-shrink: 0;
      width: 50px;
      height: 50px;
    }
  }

  .form__list--name input {
    margin-top: 0;
  }

  .form__bottom-wrap {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 668px;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 33px;
    padding-top: 0;
  }

  .form__list--name br {
    display: none;
  }

  .form__item--name {
    display: flex;
    margin-bottom: 28px;
  }

  .form__list--tel {
    margin-top: 60px;
  }

  .form__input--tel {
    width: 100%;
  }

  .form__list--mail {
    margin-top: 8px;
    margin-bottom: 25px;
  }

  .form__input--mail {
    padding-top: 5px;
    padding-bottom: 15px;
    width: 100%;
    padding-left: 18px;
    box-sizing: border-box;
  }

  .form__wrap--mail {
    background-color: $white-two;
    margin-top: -8px;
  }

  .form__wrap.form__wrap--add {
    background-color: #ffffff;
  }

  .form__list--textarea {
    margin-bottom: 0;
    margin-top: 50px;
  }

  .form__item--textarea {
    padding-right: 35px;
  }

  .form__textarea {
    box-sizing: border-box;
    height: 141px;
  }

  .form__button {
    width: 230px;
    margin-top: 30px;
  }

  .form__legend--type {
    margin-top: 46px;
  }

  .form__legend--tel {
    margin-top: 68px;
  }

  .form__legend--mail {
    margin-top: 19px;
  }

  .form__legend--name {
    margin-top: 65px;
  }

  .form__legend--color {
    margin-top: 66px;
  }

  .form__legend--add {
    margin-top: 68px;
  }
}


@media (min-width: 1150px) {
  .form__item-icon {
    right: 108px;
  }

  .form__list--color li {
    width: 33%;
  }

  .form__button {
    margin-top: 14px;
  }

  .form__legend {
    width: 224px;
    padding-left: 110px;
  }

  .form__list {
    margin-left: 19.5%;
  }

  .form__input {
    margin-right: 67px;
    padding: 17px 1px 10px 15px;
  }

  .form__input--tel {
    width: 91%;
  }

  .form__input--mail {
    width: 91%;
  }

  .form__list--name {
    margin-bottom: 10px;
  }

  .form__textarea {
    width: 91%;
  }

  .form__list--tel {
    margin-top: 63px;
  }

  .form__list--mail {
    margin-top: 0;
    margin-bottom: 28px;
  }

  .form__bottom-wrap {
    width: 700px;
    margin-bottom: 35px;
    margin-top: 0;
    align-items: baseline;
  }

  .form__legend--tel {
    margin-top: 68px;
  }

  .form__legend--mail {
    margin-top: 22px;
  }

  .form__legend--name {
    margin-top: 65px;
  }

  .form__legend--color {
    margin-top: 66px;
  }

  .form__legend--add {
    margin-top: 68px;
  }
}
