.logo__img {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $light-grey;
}

.logo {
  display: inline-block;
  margin: 21px auto 18px auto;

  &[href] {
    cursor: pointer;
  }
}

.logo[href]:hover {
  opacity: 0.6;
}

.logo[href]:active {
  opacity: 0.3;
}
