.main-nav--no-js .main-nav__toggle {
  display: none;
}

.main-nav--no-js .main-nav__list {
  position: static;
  display: block;
  min-height: 0;
}

.main-nav--no-js .user-list {
  position: static;
  display: block;
  min-height: 0;
}

@media (min-width: 768px) {
  .main-nav {
    order: 1;
    width: 60%;
  }
}

@media (min-width: 1250px) {
  .main-nav {
    order: 0;
    width: 45%;
  }
}
