.page-header {
  @include flex-center;
  width: 100%;
  align-items: stretch;
}

.page-header__logo {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $light-grey;
}

.page-header__logo-link {
  display: inline-block;
}

.page-header__logo-img {
  margin: 22px 0 22px 0;
}

@media (min-width: 768px) {
  .page-header {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .page-header__logo {
    width: 20%;
  }
  .page-header__link {

  }

}
