.page-header {
  @include flex-center;
  position: relative;
  width: 100%;
  align-items: stretch;
  border-bottom: 1px solid $light-grey;
}

.page-header__logo {
  text-align: center;
}

@media (min-width: 768px) {
  .page-header {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: none;
  }

  .page-header__logo {
    width: 19%;
    border-bottom: 1px solid $light-grey;
  }
}

@media (min-width: 1150px) {
  .page-header {
    width: 1150px;
    margin: 0 auto;
  }

  .page-header__logo {
    order: 1;
    width: 10%;
  }
}
