.page-main__title {
  padding: 70px 37px 77px 38px;
  width: 100%;
  box-sizing: border-box;
  background: $light-grey;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 27px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: center;
  color: #231f20;
  margin: 0;
}

.page-main__description {
  margin: 29px 48px 30px 30px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: $grey;
}

.page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-main__title--form {
  padding-top: 36px;
  font-size: 43px;
  padding-bottom: 81px;
}

.page-main__description--form {
  margin-top: 21px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .page-main__title {
    background-image: url("../img/bg-zigzag-fill.svg");
    background-position: center bottom;
    background-size: auto;
    background-repeat: repeat-x;
  }
  .page-main__description--form {
    padding: 0 37px 3px 38px;
    font-size: 17px;
    margin-top: 70px;
  }
}

@media (min-width: 1250px) {
  .page-main__title {
    padding: 35px 37px 14px 38px;
    font-size: 53px;
  }

  .page-main__title--form {
    padding-bottom: 100px;
  }

  .page-main__description--form {
    width: 733px;
    padding-top: 50px;
    margin-left: 50px;
  }
}
