
.production-process {
  margin-bottom: 20px;
  margin-top: 2px;
}

.production-process__description-wrap {
  padding-bottom: 15px;
}

.production-process__title {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.41;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding-left: 88px;
  margin-top: 24px;
  margin-bottom: 25px;
}

.production-process__video {
  width: 100%;
  height: auto;
  background: $light-grey;
  position: relative;
}

.production-process__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  width: 100px;
  height: 100px;
  border: none;
  font-size: 0;
  background: url("../img/icon-play.svg") no-repeat center center;

  &:hover {
    transform: scale(1.2);
  }

  &:active,
  &:focus {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.production-process__button {
  margin: 0 auto;
  width: 192px;
  margin-bottom: 16px;
}

.production-process__description {
  font-family: "OpenSans", "Arial", sans-serif;
  margin: 34px;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
  margin-top: 23px;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .production-process__button {
    width: 100%;
    box-sizing: border-box;
  }
}

@media (min-width: 1250px) {
  .product-process__description-wrap {
    border: 1px solid $light-grey;
    margin-bottom: 40px;
  }
}
