
.production-process {
  margin-bottom: 20px;
  margin-top: 2px;
}

.production-process__image {
  width: 260px;
  height: 150px;
}

.production-process__description-wrap {
  padding-bottom: 0;
}

.production-process__title {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.41;
  display: flex;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  align-items: center;
  padding-left: 33px;
  margin-top: 21px;
  margin-bottom: 25px;
}

.production-process__title svg {
  fill: $seafoam-blue;
}

.production-process__video {
  width: 100%;
  height: auto;
  background: $light-grey;
  position: relative;
  font-size: 0;
}

.production-process__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  width: 100px;
  height: 100px;
  border: none;
  font-size: 0;
  background: url("../img/icon-play.svg") no-repeat center center;

  &:hover {
    transform: scale(1.2);
  }

  &:active,
  &:focus {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.production-process__button {
  margin: 0 auto;
  width: 192px;
  margin-bottom: 16px;
}

.production-process__description {
  font-family: "OpenSans", "Arial", sans-serif;
  margin: 34px;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
  margin-bottom: 24px;
  margin-top: 28px;
}

.production-process__title span {
  padding-left: 28px;
}

@media (min-width: 768px) {
  .production-process__button {
    width: 87%;
    box-sizing: border-box;
  }

  .production-process__image {
    width: 668px;
    height: 455px;
  }

  .production-process__video {
    order: -1;
  }

  .production-process {
    flex-direction: column;
    width: 670px;
    margin-bottom: 63px;
    padding-bottom: 12px;
  }

  .production-process__title {
    font-size: 20px;
    margin-top: 32px;
    display: flex;
    padding-left: 42px;
    margin-bottom: 3px;
  }

  .production-process__title span {
    margin-left: 33px;
    padding-left: 0;
  }

  .production-process__description {
    padding-left: 7px;
    padding-right: 10px;
    font-size: 15px;
    margin-bottom: 38px;
  }

  .production-process__description-wrap {
    padding-bottom: 15px;
  }
}

@media (min-width: 1150px) {
  .production-process__description-wrap {
    border: none;
    order: 2;
    padding-top: 152px;
    width: 10px;
    flex-grow: 1;
    padding-left: 20px;
    margin-bottom: 20px;
  }

  .production-process {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 0;
    width: 1050px;
    margin-bottom: 108px;
  }

  .production-process__image {
    width: 682px;
    height: 455px;
  }

  .production-process__video {
    width: 682px;
    order: 1;
    height: 455px;
  }

  .production-process__title {
    order: 0;
    flex-direction: column;
    display: flex;
    width: 100%;
    padding-right: 61px;
    margin-top: 43px;
    padding-left: 759px;
    align-items: flex-start;
    margin-bottom: -178px;
    line-height: 25px;
  }

  .production-process__title span {
    margin-top: 22px;
    padding-left: 0;
    margin-left: 0;
  }

  .production-process__description {
    line-height: 30px;
    margin-bottom: 45px;
    padding-left: 22px;
  }

  .production-process__button {
    width: 67%;
  }

  :-ms-fullscreen,
  :root .production-process {
    height: 457px;
  }
}
