.product-list {
  @include reset-list;
  align-items: flex-end;
}

.product-list__item a {
  background-color: $seafoam-blue;
  color: #ffffff;

  &:hover,
  &:focus,
  &:active {
    background: #59d5bc;
  }
}

.product-list__svg-wrap {
  width: 100px;
  text-align: center;
}

.product-list__link {
  $paddingBottom: 10px;
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  padding: 23px 12px $paddingBottom 29px;
  text-decoration: none;
  color: #ffffff;
  text-align: left;
  letter-spacing: 0.01em;
  font-family: "OpenSans", "Arial", sans-serif;
  line-height: normal;
  vertical-align: middle;
  font-size: 19px;
  font-weight: bold;

  &:hover {
    padding-bottom: $paddingBottom + 5px;
  }

  &:active,
  &:focus {
    span,
    svg {
      opacity: 0.3;
    }
  }
}

.product-list__item--color:nth-child(even) a {
  background-color: $greeny-blue;

  &:hover,
  &:focus,
  &:active {
    background: #46c1ae;
  }
}

.product-list__link path {
  fill: $blue-green;
}


@media (min-width: 768px) {
  .product-list {
    display: flex;
    width: 668px;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
  }

  .product-list__item {
    width: 50%;
  }

  .product-list__link {
    $paddingBottom: 32px;
    padding: 26px 7px $paddingBottom 35px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.01em;
    line-height: 30px;

    &:hover {
      padding-bottom: $paddingBottom + 5px;
    }
  }
}

@media (min-width: 1150px) {
  .product-list__link {
    padding: 28px 7px 23px 35px;
  }
}
