
.reviews {
  padding: 0 30px 0 30px;
  display: flex;
  flex-direction: column;
}

.reviews__title {
  margin-top: 30px;
  margin-bottom: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #000000;
}

.reviews__main {
  margin: 38px 0;
}

.reviews__item {
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

.reviews__button {
  margin-bottom: 38px;
  align-self: center;
}
