
.review {
  width: 100%;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  color: $grey;
  letter-spacing: normal;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.review__autor-name {
  margin-top: 12px;
  order: 1;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.41;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.review__description {
  order: 0;
  margin-bottom: 40px;
}

.review__email {
  margin-top: 2px;
  order: 2;
  text-decoration: none;
  font-weight: normal;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 1.76;
  color: #444444;
}

.review-buttons {
  margin-top: 15px;
}

@media (min-width: 768px) {
  .review__autor-name {
    letter-spacing: 0.06em;
  }
}

@media (min-width: 1250px) {
  .review__autor-name {
    font-size: 15px;
    margin-left: 6px;
    margin-top: 17px;
  }

  .review-buttons {
    margin-right: 50px;
  }
}
