.review-buttons {
  display: flex;
  flex-direction: row;
  width: 260px;
}

.review-buttons__button {
  width: 50%;
  height: 52px;
  font-size: 0;
  background: transparent;
  border: 1px solid $light-grey;
  background-repeat: no-repeat;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.review-buttons__button--left {
  background-image: url("../img/icon-left-arrow.svg");
  background-position: 50% 50%;
}

.review-buttons__button--right {
  background-image: url("../img/icon-left-arrow.svg");
  background-position: 50% 50%;
  transform: rotate(180deg);
  margin-left: -2px;
}

@media (min-width: 768px) {
  .review-buttons {
    justify-content: center;
    width: 201px;
  }

  .review-buttons__button {
    border: none;
    background-size: 53px;
    width: 55px;
    margin-top: 2px;
    align-items: flex-start;
    margin-right: 25px;
    margin-left: 10px;
  }
}
