
.reviews {
  padding: 0 30px 30px 30px;
  display: flex;
  flex-direction: column;
}

.reviews__title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #000000;
}

.reviews__main {
  margin: 38px 0;
}

.reviews__item {
  margin-right: 0;
  margin-top: 0;
  margin-left: 0;
  padding: 0;
}

.reviews__button {
  align-self: center;
  margin-top: 38px;
}

@media (min-width: 768px) {
  .reviews {
    padding-top: 55px;
    padding-left: 50px;
    flex-wrap: wrap;
    margin: auto;
    flex-direction: row;
    margin-top: 34px;
    padding-bottom: 50px;
    background: url("../img/review@1x.jpg") no-repeat, url("../img/bg-zigzag-line.svg") no-repeat bottom;
  }

  .reviews__title {
    order: 0;
    font-size: 45px;
    width: 50%;
  }

  .reviews__button-wrap {
    order: 1;
    width: 50%;
    padding-top: 24px;
    text-align: right;
  }

  .reviews__button {
    margin-left: auto;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    width: 175px;
    margin-top: 0;
  }

  .reviews__item {
    order: 2;
    margin-top: 20px;
    padding-right: 30px;
    margin-bottom: 20px;
  }

  .reviews__buttons {
    margin-left: auto;
    position: relative;
    top: -90px;
    order: 3;
  }

  .reviews__description {
    margin-bottom: 45px;
  }
}

@media (min-width: 1250px) {
  .reviews {
    padding-top: 45px;
    max-width: 1250px;
    box-sizing: border-box;
    padding-left: 270px;
    margin: auto;
    padding-bottom: 100px;
    background-position: 100px top, center bottom;
  }

  .reviews__title {
    font-size: 55px;
  }

  .reviews__button-wrap {
    padding-top: 32px;
  }

  .reviews__button {
    margin-right: 70px;
  }

  .reviews__item {
    padding-right: 150px;
  }

  .reviews__description {
    margin-bottom: 25px;
  }
}
