@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}

@import "normalize.scss";
@import "variables.scss";
@import "center.scss";
@import "visually-hidden.scss";
@import "body-page.scss";
@import "page-header.scss";
@import "toggle-button.scss";
@import "product-list.scss";
@import "products.scss";
@import "button.scss";
@import "top-product.scss";
@import "about-us.scss";
@import "reviews.scss";
@import "reviews-wrapper.scss";
@import "review.scss";
@import "review-buttons.scss";
@import "contacts.scss";
@import "page-footer.scss";
@import "social.scss";
@import "page-main.scss";
@import "form.scss";
@import "catalog.scss";
@import "product-process.scss";
@import "site-list.scss";
@import "user-list.scss";
@import "info.scss";
@import "logo.scss";
@import "for-house.scss";
@import "offers.scss";
@import "catalog-item.scss";
@import "hidden.scss";
@import "copyright.scss";
@import "main-nav.scss";
@import "no-js.scss";
@import "popup.scss";
