.toggle-button {
  position: absolute;
  z-index: 100;
  top: 32px;
  right: 30px;
  background: none;
  width: 21px;
  height: 20px;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background-repeat: no-repeat;
  overflow: hidden;
}

.toggle-button--close {
  background-image: url("../img/icon-menu-close.svg");
}

.toggle-button--open {
  background-image: url("../img/icon-menu-open.svg");
}

@media (min-width: 768px) {
  .toggle-button {
    display: none;
  }
}
