.top-product {
  @include flex-center;
  padding: 0 20px 42px 20px;
  text-align: center;
  background-image: url("../img/bg-zigzag-line.svg");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: contain;
}

.top-product__title {
  align-self: flex-start;
  margin-left: 10px;
  position: relative;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  line-height: 1.111;
  color: $black;
  margin-top: 29px;
  margin-bottom: 24px;

  &--best {
    position: relative;

    &::before {
      position: absolute;
      content: "ТОВАР НЕДЕЛИ";
      text-transform: uppercase;
      top: 35px;
      left: 0;
      color: $seafoam-blue;
      font-family: "OpenSans", "Arial", sans-serif;
      font-size: 17px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.18;
      letter-spacing: normal;
      text-align: left;
    }
  }
}

.top-product__image {
  margin-top: 28px;
}

.top-product__options {
  margin: 0 auto;
  text-align: left;
  width: 260px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.33;
  color: $grey;
}

.top-product__value {
  width: 92px;
  padding: 9px 0 9px 0;
  border-bottom: 1px solid $light-grey;
}

.top-product__description {
  margin: 24px auto 18px auto;
  max-width: 260px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6;
  text-align: left;
  color: $grey;
}

.top-product__field {
  padding: 9px 5px 9px 0;
  border-bottom: 1px solid $light-grey;
}

.top-product__prise {
  margin-top: 20px;
  margin-bottom: 25px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.41;
  letter-spacing: normal;
  color: $grey;
}

@media (min-width: 768px) {
  .top-product {
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 30px;
    padding-right: 0;
    margin-top: 20px;
    width: 1050px;
  }

  .top-product__description {
    margin: 28px 0 34px 5px;
    line-height: 1.8;
    font-size: 17px;
    max-width: 300px;
  }

  .top-product__options {
    margin: 0;
  }

  .top-product__title {
    font-size: 43px;
    text-align: left;
    width: 80%;
    margin-top: 37px;
    margin-left: 2px;

    &--best {
      &::before {
        width: 72px;
        top: 10px;
        left: auto;
        right: 32px;
        line-height: 1.1;
        text-align: center;
      }
    }
  }

  .top-product__wrap-bottom {
    order: 2;
    position: relative;
    top: -36px;
    width: 296px;
  }

  .top-product__wrap-top {
    width: 50%;
  }

  .top-product__wrap {
    display: flex;
    align-content: space-around;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .top-product__image-wrap {
    order: 1;
    flex-shrink: 0;
    flex-basis: 50%;
    display: flex;
  }

  .top-product__value {
    width: 98px;
  }

  .top-product__button {
    width: 100%;
    margin-top: 31px;
  }

  .top-product__prise {
    font-size: 21px;
  }
}


@media (min-width: 1250px) {
  .top-product {
    margin-top: 20px;
  }

  .top-product__title {
    font-size: 53px;
    text-align: left;
    width: 100%;
    margin-top: auto;
    margin-bottom: -161px;
    margin-left: 162px;


    &--best {
      &::before {
        width: 50px;
        top: 13px;
        left: -122px;
        right: auto;
        line-height: 1.1;
        text-align: center;
      }
    }
  }

  .top-product__description {
    margin-top: 190px;
    margin-right: 70px;
    line-height: 30px;
    margin-bottom: 45px;
  }

  .top-product__options {
    margin-left: 3px;
    margin-right: 90px;
  }

  .top-product__prise {
    text-align: center;
    margin-top: auto;
    font-size: 20px;
  }

  .top-product__wrap {
    margin-top: 18px;
    height: auto;
    padding-bottom: 60px;
  }

  .top-product__wrap-top {
    width: 50%;
    box-sizing: border-box;
    padding-left: 160px;
  }

  .top-product__wrap-bottom {
    margin-top: 109px;
    top: 0;
    margin-left: 163px;
  }

  .top-product__button {
    margin-top: 30px;
  }
}
