.user-list {
  @include reset-list;
  @include flex-center;
  display: none;
}

.user-list__item {
  display: inline-block;
  border-bottom: 1px solid $light-grey;
  text-align: center;
  width: 100%;
}

.user-list__search {
  overflow: hidden;
}

.user-list__link {
  display: inline-block;
  position: relative;
  padding: 32px 40px 31px 40px;
  text-decoration: none;
  text-align: left;
  color: #000000;
  min-width: 181px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;

  &:hover {
    svg {
      opacity: 1;
    }

    path {
      fill: $seafoam-blue;
    }
  }

  &:active,
  &:focus {
    svg {
      opacity: 0.3;
    }

    path {
      fill: $seafoam-blue;
    }
  }

  &[href] {
    cursor: pointer;

    &:hover .user-list__title {
      opacity: 0.6;
    }

    &:active .user-list__title,
    &:focus .user-list__title {
      opacity: 0.3;
    }
  }
}

.user-list__link svg {
  position: absolute;
  width: 20px;
  height: 20px;
  opacity: 0.2;
  left: 3px;
  top: 32px;
}


@media (min-width: 768px) {
  .user-list__link svg {
    left: 33px;
    top: 31px;
  }

  .user-list {
    display: flex;
    align-items: stretch;
    order: 0;
    border-bottom: 1px solid $light-grey;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 81%;
    flex-shrink: 0;
    flex-grow: 0;
  }

  .user-list__item {
    flex-shrink: 0;
    display: block;
    margin: 0;
    margin-right: -1px;
    margin-top: -1px;
    box-sizing: border-box;
    border: none;
    border-left: 1px solid $light-grey;
    padding: 0;
    width: auto;
  }

  .user-list__link {
    font-size: 17px;
    min-width: auto;
    letter-spacing: 0.01em;
    padding: 32px 48px 34px 82px;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
  }


  .user-list__search {
    font-size: 0;
    display: block;
    box-sizing: border-box;
    width: 83px;
    padding: 0;
    height: 100%;
    border-left: 1px solid $light-grey;
  }
}

@media (min-width: 1150px) {
  .user-list {
    order: 2;
    width: 40%;
  }

  .user-list__link svg {
    left: 28px;
    top: 36px;
  }
}
