@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

$light-grey: #ececec;
$seafoam-blue: #63d1bb;
$grey: #444444;
$greeny-blue: #56c3b2;
$very-dark-brown: #010000;
$black: #000000;
$blue-green: #149080;
$white-two: #f1f1f1;
